* {
    margin: 0;
    padding: 0;
}

body {
    background: #999;
}

.tabs {
    margin: 100px 0;
    background: #000;
    padding: 50px 0 29px 50px;
}

.tabs li {
    float: left;
}

.tabs a {
    padding: 5px 15px;
    display: block;
    background: #ccc;
    text-decoration: none;

    border-radius: 15px 15px 0 0;
}

.tabs .active a {
    background: #999;
}

.tabs .active:before, .tabs .active:after {
    content: '';
    background: #999;
}